[package]
name = "nomt"
description = "Nearly Optimal Merkle Trie - Schema and Database"
version = "0.1.0"
authors.workspace = true
homepage.workspace = true
repository.workspace = true
edition.workspace = true
license.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.81"
nomt-core = { path = "../core", features = ["std"] }
parking_lot = { version = "0.12.1", features = ["arc_lock", "send_guard"] }
rocksdb = "0.21.0"
threadpool = "1.8.1"
bitvec = { version = "1" }
blake3 = "1.5.1"
fxhash = "0.2.1"
dashmap = "5.5.3"
crossbeam = "0.8.4"
slotmap = "1.0.7"

[target.'cfg(loom)'.dependencies]
loom = { version = "0.7", features = ["checkpoint"] }

[dev-dependencies]
rand = "0.8.5"
rand_pcg = "0.3.1"
hex-literal = "0.4"
